initialize() {
initializeTreeSeq();
         initializeMutationRate(0);
         initializeMutationType("m1", 0.5, "f", 0.0);
         initializeMutationType("m2", 0.5, "f", 0.02);  // introduced mutation, adjust s and dominance
         m2.convertToSubstitution = F;
         initializeGenomicElementType("g1", m1, 1.0);
         initializeGenomicElement(g1, 0, 20);
         initializeRecombinationRate(0);
}
1 early() { sim.addSubpop("p1", 15000);}  //adjust population size

100 late() {
         target = sample(p1.genomes, 1);
         target.addNewDrawnMutation(m2, 10);
}
102: early () {
	mut = sim.mutationsOfType(m2);
	if (size(mut) == 1) {
     if  (sim.mutationFrequencies(NULL, mut) > 0.45  & sim.mutationFrequencies(NULL, mut) < 0.55)
            {
                cat(sim.mutationFrequencies(NULL, mut));
              cat(": ESTABLISHED\n");  sim.treeSeqOutput("SimulationStudy/SLIMSims/slim.trees"); 
              }

     if  (sim.mutationFrequencies(NULL, mut) == 1.0 )
            {  cat("1.0");
               sim.simulationFinished();
              } }
     	if (size(mut) == 0)  {  cat("0.0");
               sim.simulationFinished();
              }
}

30000 early() {
	mut = sim.mutationsOfType(m2);
cat(sim.mutationFrequencies(NULL, mut) );
sim.simulationFinished();
}